CHILDREN LIST
<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Nickname</th>
			<th>Sex</th>
			<th>Birthday</th>
			<th>Status</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat='child in childrenList.children'>
			<td>{{ child.lastName }}, {{ child.firstName }} {{ child.middleName }}</td>
			<td>{{ child.nickname }}</td>
			<td>{{ child.sex }}</td>
			<td>{{ child.birthday }}</td>
			<td>{{ child.status }}</td>
			<td><button ui-sref='editChildren({ childId: child._id })'>Edit</button></td>
			<td><button ng-click='childrenList.delete(child)'>Delete</button></td>
		</tr>
	</tbody>
</table>